/* 可视化开始 */
.Visualization_Container {
  display: none;
  height: 600px;
  width: 1400px;
  margin: auto;
}
/* 第一列 */
.Container_Colums_1 {
  flex: 2;
}
.Picture {
  position: relative;
  height: 190px;
  margin-bottom: 10px;
  border: 1px solid #455c71;
  background: url(../picture/picture_background.png) rgba(255, 255, 255, 0.03);
}
.Picture::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border-top: 2px solid #f5a623;
  border-left: 2px solid #f5a623;
}
.Picture::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 15px;
  height: 15px;
  border-top: 2px solid #f5a623;
  border-right: 2px solid #f5a623;
}
.Picture_Title {
  position: relative;
  height: 10px;
  color: #fff;
  text-align: center;
  font-size: 15px;
  font-weight: normal;
}
.Picture_Speed_Chart,
.Picture_Motor_Chart,
.Picture_Open_Chart {
  height: 100%;
  width: 260px;
  height: 140px;
  margin: auto;
  /* background-color: #f5a623; */
  margin-left: 20px;
  margin-right: 20px;
}
.Picture_Foot {
  position: absolute;
  height: 15px;
  width: 100%;
  bottom: 0;
}
.Picture_Foot::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 0;
  left: 0;
  border-bottom: 2px solid #f5a623;
  border-left: 2px solid #f5a623;
}
.Picture_Foot::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 0;
  right: 0;
  border-bottom: 2px solid #f5a623;
  border-right: 2px solid #f5a623;
}
/* 第二列 */
.Container_Colums_2 {
  flex: 5;
  width: 80%;
  margin-left: 20px;
  margin-right: 20px;
  height: 600px;
}
.Data_Colums {
  display: flex;
}
.Data_Index_1 {
  background-color: rgba(255, 255, 255, 0.03);
  height: 100px;
  top: 0;
  padding: 7px;
  width: 60%;
  margin: auto;
}
.Data_Number {
  position: relative;
  display: flex;
  border: 1px solid #455c71;
  height: 70px;
}
.Data_Number::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 15px;
  border-top: 2px solid #f5a623;
  border-left: 2px solid #f5a623;
}
@font-face {
  font-family: electronicFont;
  src: url(../font/DS-DIGIT.TTF);
}
.Data_Number_1 {
  flex: 1;
  text-align: center;
  margin: auto;
  color: #fff;
  font-family: "electronicFont";
  font-size: 70px;
  border-right: 1px solid #455c71;
}
.Data_Number_2 {
  flex: 1;
  text-align: center;
  margin: auto;
  font-family: "electronicFont";
  color: #fff;
  font-size: 70px;
  border-right: 1px solid #455c71;
}
.Data_Number_3 {
  flex: 1;
  text-align: center;
  margin: auto;
  font-family: "electronicFont";
  color: #fff;
  font-size: 70px;
}
.Data_Number_Foot {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 15px;
}
.Data_Number_Foot::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 15px;
  top: 0;
  right: 0;
  border-bottom: 2px solid #f5a623;
  border-right: 2px solid #f5a623;
}
.Data_Title {
  height: 30px;
  display: flex;
}
.Data_Title_1,
.Data_Title_2,
.Data_Title_3 {
  padding-left: 10px;
  letter-spacing: 10px;
  flex: 1;
  color: #fff;
  text-align: center;
  font-size: 20px;
  margin: auto;
}
.Data_Index_2 {
  background-color: rgba(255, 255, 255, 0.03);
  height: 100px;
  top: 0;
  padding: 7px;
  width: 30%;
  margin: auto;
}
.Data_Line {
  height: 15px;
  display: flex;
}
.Code_Data,
.DT_Data,
.st_Data {
  flex: 1;
  font-size: 10px;
  color: #fff;
}
.Bar_Chart {
  /* margin-top: 15px; */
  width: 230px;
  height: 90px;
  /* background-color: #fff; */
}
.Map_Colums {
  margin: auto;
  height: 460px;
  width: 730px;
  background-color: rgba(255, 255, 255, 0.03);
  border: 1px solid #455c71;
  margin-top: 20px;
}
/* 第三列 */
.Container_Colums_3 {
  flex: 2;
  position: relative;
  height: 594px;
  border: 1px solid #455c71;
  background: url(../picture/picture_background.png) rgba(255, 255, 255, 0.03);
}
.Data_Container {
  width: inherit;
  height: 594px;
  /* overflow-y: scroll; */
  /* scroll-behavior: smooth; */
  /* overscroll-behavior: none; */
  /* scrollbar-color: #455c71 #7691ab; */
}
.Data_Table {
  width: 100%;
  font-weight: normal;
}
.Data_Table_thead {
  font-size: 15px;
  background-color: #486177;
  color: #f5a623;
  text-align: left;
}
.Data_Table_tbody {
  font-size: 10px;
  background-color: #4e657a;
  color: #fff;
}
.Data_Table tr {
  height: 19.5px;
}

.Data_Table td:nth-child(1) {
  width: 50%;
}
.Data_Table td:nth-child(2) {
  width: 30%;
}
.Data_Table td:nth-child(3) {
  width: 20%;
}
