/* 服务器未连接 */
.Server_Unconnected_Container {
  height: 600px;
  width: 1000px;
  margin-top: 25px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  unicode-bidi: isolate;
  background-color: #455c71;
  display: flex;
  flex-direction: column;
}
.Server_Title_Container {
  width: 100%;
  height: 30px;
  margin-left: 50px;
  margin: auto;
  padding-left: 50px;
}
.Server_Title {
  margin: auto;
  text-align: left;
  font-size: 20px;
  color: #fff;
  letter-spacing: 15px;
}
.Server_in_Container {
  width: 100%;
  margin: auto;
  line-height: inherit;
  white-space: nowrap;
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.Server_Name,
.Server_Address,
.Server_ID,
.Server_User,
.Server_Password {
  margin-right: auto;
  margin: auto;
  font-size: 15px;
  color: #fff;
  width: 20%;
  text-align: right;
  font-weight: normal;
}
.Server_Name_in,
.Server_Address_in,
.Server_Port_in,
.Server_ID_in,
.Server_User_in,
.Server_Password_in {
  margin-left: auto;
  margin-right: 100px;
  width: 65%;
  font-size: 15px;
  background-color: #394e64;
  border: 2px solid #394e64;
  color: #fff;
  font-weight: normal;
}
.Connect_Button_Container {
  position: relative;
  height: 40px;
  width: 400px;
  margin-top: 10px;
  margin: auto;
  background-color: #f5a623;
  border: 2px solid #f5a623;
}
.Connect_Button_Container:hover {
  background-color: transparent;
}
.Connect_Button {
  text-decoration: none;
  text-align: center;
  margin: auto;
  color: #fff;
  width: 100%;
  height: inherit;
  background-color: transparent;
  cursor: pointer;
  font-size: 20px;
  letter-spacing: 10px;
  border: transparent;
}
.Connect_Button:hover {
  color: #f5a623;
}
/* 服务器已连接 */
.Server_Connected_Container {
  height: 600px;
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 25px;
  position: relative;
  unicode-bidi: isolate;
  background-color: #455c71;
  display: none;
  flex-direction: column;
}
/* 服务器连接信息 */
.Connected_Information {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  height: 150px;
  background-color: #4e657a;
  display: flex;
}
.Connected_text {
  margin-left: 50px;
  width: 500px;
}
.Connected_Title,
.Subscribed_Title {
  text-align: left;
  font-size: 20px;
  color: #fff;
  letter-spacing: 15px;
  white-space: nowrap;
}
.Connected_Name,
.Connected_ID,
.Subscribed_Topic {
  font-size: 15px;
  margin-left: 50px;
  color: #fff;
  font-weight: normal;
  white-space: nowrap;
}
.Disconnected_Button_Container,
.Dissubscribed_Button_Container {
  width: 100px;
  text-align: center;
  margin: auto;
}
.Disconnected_Button,
.Dissubscribed_Button {
  width: 150px;
  height: 40px;
  margin: auto;
  background-color: #f5a623;
  border: 2px solid #f5a623;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.Disconnected_Button:hover,
.Dissubscribed_Button:hover {
  background-color: transparent;
  color: #f5a623;
}
/* 服务器未订阅 */
.Unsubscribed_Container {
  height: 300px;
  width: 90%;
  margin-top: 25px;
  margin-left: 50px;
  margin-right: 50px;
  margin: auto;
  background-color: #4e657a;
}
.Subscribe_Title {
  text-align: left;
  font-size: 20px;
  margin-left: 50px;
  color: #fff;
  letter-spacing: 15px;
  white-space: nowrap;
}
.List_Add_Container {
  height: 20px;
  display: flex;
  padding-left: 70px;
  align-items: center;
}
.List_Add_Text {
  width: 70%;
  background-color: #394e64;
  border: 5px solid #394e64;
  color: #fff;
  font-size: 15px;
}
.List_Add_Button {
  width: 100px;
  margin-left: 50px;
  height: 30px;
  background-color: #f5a623;
  border: 2px solid #f5a623;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}
.List_Add_Button:hover {
  background-color: transparent;
  color: #f5a623;
}
.Subscribe_List {
  width: 80%;
  height: 150px;
  background-color: #455c71;
  margin: auto;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  position: relative;
  text-align: center;
  overflow: auto;
  scrollbar-color: #455c71 #7691ab;
}
.Subscribe_List li {
  height: auto;
  width: 500px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 10px;
  color: #fff;
  border: 2px solid #f5a623;
  list-style-type: none;
  display: flex;
  align-items: center;
  word-wrap: break-word;
  white-space: normal;
}
.Add_Topic {
  width: 250px;
  text-align: left;
}
.Add_Time {
  width: 200px;
  margin-left: 50px;
  white-space: nowrap;
  right: 170px;
  font-size: 10px;
}
.Delete_Button {
  width: 50px;
  height: auto;
  background-color: #394e64;
  border: 2px solid #f5a623;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  position: absolute;
  right: 30px;
  white-space: nowrap;
}
.Subscribe_Button {
  width: 50px;
  height: auto;
  background-color: #394e64;
  border: 2px solid #f5a623;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  position: absolute;
  right: 100px;
  white-space: nowrap;
}
/* 服务器已订阅 */
.Subscribed_Container {
  height: 150px;
  width: 90%;
  margin-top: 25px;
  margin-left: 50px;
  margin-right: 50px;
  margin: auto;
  background-color: #4e657a;
  display: none;
}
